body {
  background-color: #d2e8ff;
  font-family: 'Segoe UI', sans-serif;
}

.form-container {
  background-color: rgba(197, 215, 255, 0.95);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-decoration: underline;
  color: #fd0d0d;
}

.logo-img {
  max-width: 290px;
  height: auto;
  margin-bottom: 2px;
}

.passport-photo {
  width: 132px;
  height: 170px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: none;
}